---
import Layout from '../layouts/Layout.astro';

console.log('Test build file');
---

<Layout title="Test Build">
  <h1>Test Page</h1>
  <p>This is a simple test page to verify build works.</p>
</Layout>